<h1> Comment </h1>

<p>
  <strong>Note:</strong>
  <%= @comment.note %>
</p>

<p>
  <%= link_to "Editar", edit_admin_fulfillment_order_comment_path(order, @comment), :class => 'button' %> |
  <%= link_to "Destruir", admin_fulfillment_order_comment_path(order, @comment), :data => {:confirm => 'Tem certeza?'}, :method => :delete, :class => 'button' %> |
  <%= link_to "Ver todos", admin_fulfillment_order_comments_path(order), :class => 'button' %>
</p>
