<div class='nine columns'>
  <h3> Address </h3>

  <p>
    <%= render :partial => '/shared/compact_address', :locals => { :shopping_address => @address } %>
  </p>

  <p>
    <%= link_to "Editar", edit_myaccount_address_path(@address), :class => 'button ar-small-black-button' %> |
    <%= link_to "Destruir", myaccount_address_path(@address), :data => { :confirm => 'Tem certeza?'}, :method => :delete, :class => 'button' %> |
    <%= link_to "Ver todos", myaccount_addresses_path, :class => 'button ar-small-black-button' %>
  </p>
</div>