h3 Editando forma de envio
= form_for(@shipping_method, url: admin_config_shipping_method_path(@shipping_method)) do |f|
  = render partial: 'form', locals: {f: f}
= link_to "Voltar", admin_config_shipping_methods_path, class: 'button'