<%= render partial: "/shared/errors", locals: {object: @brand} %>
<div class="field">
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</div>

<%= submit_tag "Create Brand", :class => "button" %>